body {
    margin: 0;
    padding: 0;
}

header {
    background-color: grey;
    padding: 10px 20px
}

ul.topbar {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

ul.topbar li:hover {
    color: #f1f1f1;
}

li {
    display: inline-block;
    margin-right: 20px;
}

.sidenav {
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 1;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
}
  
.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.text {
    text-align: center;
    margin-left: 160px; /* Same as the width of the sidenav */
    font-size: 20px; /* Increased text to enable scrolling */
    padding-top: 50px;
    padding-left: 160px;
    padding-right: 160px;
  }
  
  

